body{
   background-color:rgb(103, 134, 192);

}


p{
    white-space: pre-line;
}

section {
    text-align: center;
    color: white;
}

table{
    width: 100%;
}

th, td{
    vertical-align: middle;
    text-align: center;
    padding: 12px;
    border: 1px solid #bbb
}

.RagDG{
    display: none;
}

section.imagem:hover .normal{
display: none;

}

section.imagem:hover .RagDG{
    display: block; 
    margin: 0 auto;
}

/* 1. Esconde o texto mutante por padrão */
.texto-mutante {
    display: none;
}

/* 2. Quando o mouse passar NA SECTION, ache o texto normal e esconda ele */
section.imagem:hover .texto-normal {
    display: none;
}

/* 3. Quando o mouse passar NA SECTION, ache o texto mutante e mostre ele */
section.cartao:hover .texto-mutante {
    display: block; 
}